<div class="container">


      <h5 class='text-center mt-2'>Учебный предмет</h5>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label col-form-label-sm text-end" for="name">Название:</label>
        <div class="col-sm-10 g-0">
          <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="subject.name" autocomplete="off">
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label col-form-label-sm text-end" for="description">Описание:</label>
        <div class="col-sm-10 g-0">
          <input type="text" class="form-control form-control-sm" id="description" name="description" [(ngModel)]="subject.description" autocomplete="off">
        </div>
        <div class="row justify-content-end mt-2 mb-3">
          <button class="btn btn-outline-success col-sm-auto btn-sm" type="button" (click)="onSubmit(false)">Применить</button>
          <button class="btn btn-outline-success col-sm-auto btn-sm ms-2" type="button" (click)="onSubmit(true)">Сохранить</button>
          <button class="btn btn-outline-danger col-sm-auto btn-sm ms-2" type="button" (click)="redirectToSubjectList()">Закрыть</button>
        </div>
</div>

